[Unit]
Description=Palworld Dedicated Server
Wants=network-online.target
After=network-online.target

[Service]
User=steam
Group=steam
TimeoutStartSec=infinity
ExecStartPre=/home/steam/palworld-update.sh
ExecStart=/home/steam/palserver/PalServer.sh -useperfthreads -NoAsyncLoadingThread -UseMultithreadForDS
ExecStopPost=/home/steam/palworld-backup.sh
Restart=always
RuntimeMaxSec=12h
LimitCORE=0

[Install]
WantedBy=multi-user.target
